.photo-container {
  background: transparent;
  width: 800px;
  border: 2px solid #ffffff33;
  color: #222831;
  border-radius: 20px;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.container button {
  width: 50%;
  height: 45px;
  background: #222831;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #f2f2f2;
  font-weight: 700;
  margin: 20px 50px 20px 50px;
}

.container img {
  position: absolute;
  top: 336px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container input {
  width: 60%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(61, 61, 61, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #222831;
  padding: 5px 10px 5px 10px;
  max-width: 355px;
  margin-bottom: 10px;
  margin-left: 205px;
  text-align: center;
}

.container input::placeholder {
  color: #222831;
}

.container h1 {
    font-size:36px;
    text-align: center;
}

.photo-buttons {
  text-align: center;
    display: flex;
    justify-content: space-between; /* Adjust the alignment as needed */
}

.photo-buttons button {
  flex: 1; /* This will make all buttons take an equal portion of the available space */
  max-width: 200px; /* Optional: Set a maximum width to prevent excessive stretching */
}
.webcam {
  margin-left: 125px;
}